#root.root {--tabs-normal-bg: #EEE;}
#root.root {--tabs-activated-bg: black;}
#root.root {--tabs-activated-fg: white;}
#root.root {--tabs-border-radius: 15px;}
#root.root {--tabs-lvl-opacity: 1.0;}
#root.root {--frame-bg: #b0b4c0;}
#root.root {--bookmarks-inner-gap: 7px;}
#root.root {--bookmarks-node-activated-fg: red;}
#root.root {--bookmarks-margin: 0px;}
#root.root {--bookmarks-indent: 16px;}
#root.root {--scroll-color: black;}
#root.root {--bookmarks-folder-height: 17px;}
#root.root {--bookmarks-bookmark-height: 17px;}


#root.root {--tabs-color-layer-opacity: 0.4;}


/* folder title */
.BookmarkNode[data-type="folder"] > .body > .title { 
color:royalblue;
 }

/* bookmark background */
.BookmarkNode > .body { background-color:#EEE; }
.BookmarkNode[data-expanded="true"] > .body  { background-color:royalblue; }

/* folder background */
/*.BookmarkNode[data-type="folder"] > .body { background-color:lightblue; }
*/

/* indent indicator line opacity */
.BookmarkNode .children::before { opacity:1; }



/* unloaded tabs */
.Tab[data-discarded="true"] .body { 
	background-color:#0000;
	/*border: 1px solid lightgrey;*/
}

.Tab .body {
	border: 1px solid #c7c7c780;
	/*max-height: 50px;
	overflow: hidden;*/
}


#root {--tabs-height: auto !important;}
#root {--tabs-font-size: .8rem;}


.Tab .t-box {
  align-items: center;
	vertical-align: top;
	/* TODO: select by number of lines */
  max-height: 15ch;
	/* TODO: indicate overflow is there (some kind of fade-out? */
  overflow: hidden;
}

.Tab .title {
  font-size: var(--tabs-font-size);
	white-space: pre-wrap;
}

.Tab .close {
	width: 50px !important;
}

